<div class="container mt-4">
    <table class="table">
      <thead class="thead-dark ">
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Salary</th>
              <th>Age</th>
            </tr>
      </thead>
      <tbody>
              <td>{{detilsParametr?.data.id}}</td>
              <td>{{detilsParametr?.data.employee_name}}</td>
              <td>{{detilsParametr?.data.employee_salary}}</td>
              <td>{{detilsParametr?.data.employee_age}}</td>
      </tbody>
    </table>
  </div>